// colour variables
$h2-colour: #3f3f3f;
$h3-colour: #EB1E2F;
$copy-colour: #3f3f3f;
$main-bg-colour: #3f3f3f;
$sec-bg-colour: #f2f2f2;
$btn-colour: #EB1E2F;

// font veriables 
$heading-font: 'Roboto Black', sans-serif;
$copy-font: 'Roboto Regular', sans-serif;
$btn-font: 'Roboto Regular', sans-serif;
