#promo{
    margin-top: 60px;
    background-color: #AAAAAA;
    padding: 20px; 

    h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 20px;
    }

    #join{
        background-color: $secondary-bg-color;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        a{
            color: $copy-color;
            font-size: 22px;
            padding: 10px;
        }
    }
}
